<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- todo: 指定app name -->
    <property name="app.name" value="rc-initializr"/>
    <!-- todo: 指定日志文件路径 -->
    <property name="log.path" value="/root/logs"/>
    <contextName>${app.name}</contextName>

    <!-- 控制台日志 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %-20([%thread]) %-5level %logger %caller{1} - %green(%msg) %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 每天生成日志文件 -->
    <appender name="webLoggerFileOut" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <file>${log.path}/${app.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.path}/${app.name}.%d{yyyyMMdd}.%i.log.zip</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!--日志文件保留天数-->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %-20([%thread]) %-5level %logger %caller{1} - %green(%msg) %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <springProfile name="default">
        <logger name="redcoder54.myapp" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="stdout"/>
        </root>
    </springProfile>
    <springProfile name="TEST">
        <root level="INFO">
            <appender-ref ref="webLoggerFileOut"/>
        </root>
    </springProfile>
    <springProfile name="PROD">
        <root level="INFO">
            <appender-ref ref="webLoggerFileOut"/>
        </root>
    </springProfile>

</configuration>
